<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- th:fragment="head" 조각의 이름은 head -->
<head th:fragment="head">

<meta charset="UTF-8">
<title></title>
<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
<script th:src="@{/js/moment-with-locales.js}"></script>	
<script th:src="@{/summernote-0.8.18-dist/summernote-lite.js}"></script>
<script th:src="@{/summernote-0.8.18-dist/lang/summernote-ko-KR.min.js}"></script>
<link rel="stylesheet" th:href="@{/summernote-0.8.18-dist/summernote-lite.css}">
</head>
<body>

	<div>
		<h1>Welcome To My Blog</h1>
	</div>
	
</body>
</html>